<h2>本次部门服务运行状态检查结果如下：</h2>
<br/>

<h3>正常服务：</h3>
#foreach( $goodUrl in $goodUrls )
<h4><a href="$goodUrl" target="_blank">$appNames.get($goodUrl)</a></h4>
#end

<br/>
<h3>异常服务：</h3>
#foreach( $badUrl in $badUrls )
<h4><a href="$badUrl" target="_blank">$appNames.get($badUrl)</a></h4>
#end